*, *:focus, *:active {
  outline: none;
}
::-moz-selection { background: #FF9595; }
::selection { background: #FF9595; }

body {
  background-color: #27272B;
  background-image: url("/images/nodes.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #999999;
  font-size: 28px;
  font-weight: 300;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding: 40px 0 100px 0;
}
  .container:before,
  .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }

a, a:link, a:visited, a:hover, a:active {
  color: #DE4F4F;
  text-decoration: none;
}

a.button {
  display: inline-block;
  border: 1px solid #DE4F4F;
  color: #DE4F4F;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  width: 320px;
  height: 60px;
  line-height: 60px;
}
  a svg {
    vertical-align: middle;
  }
  a.button:hover {
    background: #DE4F4F;
    color: #27272B;
  }
  a.button:hover svg path {
    fill: #27272B;
  }

.content {
  width: 500px;
  margin-right: 80px;
  float: left;
  padding-top: 180px;
}
  .content-inner {
    padding-left: 122px;
  }

.credits {
  font-size: 13px;
  line-height: 24px;
  padding-top: 24px;
}
  .credits a {
    color: #999999;
    display: inline-block;
    margin-right: 6px;
  }
  .credits a:hover {
    color: #DE4F4F;
  }
  .credits a img {
    vertical-align: middle;
    margin-right: 2px;
  }

.device {
  position: relative;
  float: left;
  width: 395px;
  height: 813px;
  background-image: url("/images/device.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.device-content {
  position: absolute;
  top: 121px;
  left: 35px;
  width: 324px;
  height: 577px;
  overflow: hidden;
  background-color: #fff;
  border: 0;
}

.platform-switcher {
  width: 160px;
  height: 40px;
  border: 4px solid #DE4F4F;
  border-radius: 30px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -80px;
}
.platform-switcher a {
  display: inline-block;
  width: 80px;
  height: 20px;
  padding: 10px 0;
  text-align: center;
  vertical-align: top;
  position: absolute;
}
  .platform-switcher a.platform-ios {
    top: 0;
    left: 0;
    text-indent: 6px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .platform-switcher a.platform-android {
    top: 0;
    right: 0;
    text-indent: -6px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .platform-switcher a svg {
    vertical-align: middle;
  }
  .platform-switcher a:hover, .platform-switcher a.selected {
    background: #DE4F4F;
  }
    .platform-switcher a:hover svg path, .platform-switcher a.selected svg path {
      fill: #27272B;
    }
